body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#geo,
#temp,
#desc,
#icn {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#geo {
  flex-direction: column;

  h6 {
    font-size: calc(2px + 3.2vw);
  }

  #coord {
    flex-direction: column;

    h3 {
      font-size: calc(2px + 5.3vw);
    }
  }
}

#temp {
  font-size: calc(2px + 6vw);
}

#desc {
  font-size: calc(2px + 5.6vw);
}
