body {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
  grid-template-areas:
    'geo geo'
    'tmp icn'
    'dsc dsc';
}

#geo,
#temp,
#desc,
#icn {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#geo {
  grid-area: geo;
  flex-direction: column;

  h6 {
    font-size: calc(2px + 1.5vw);
  }

  #coord {
    flex-direction: row;

    #lat {
      padding-right: 20px;
    }

    h3 {
      font-size: calc(2px + 3vw);
    }
  }
}

#icn {
  grid-area: icn;
}

#temp {
  grid-area: tmp;

  font-size: calc(2px + 4vw);
}

#desc {
  grid-area: dsc;

  font-size: calc(2px + 3.6vw);
}
