@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(78, 86, 90, 0.445);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(78, 86, 90, 0.6);
}
