@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
#app {
  height: 100%;
}
html,
body,
#app,
#loading {
  overflow: hidden;
  background: #2a6ea7;

  color: white;
  font-family: 'Lexend Deca', sans-serif;
  text-shadow: 3px 3px 6px #00000070;
}
div {
  display: flex;
}

.reload-sec #reload {
  position: absolute;
  top: 2%;
  right: 2%;
  margin: 5px;
  max-height: 85px;
  filter: drop-shadow(3px 3px 6px #00000070);
  opacity: 0.3;
}
#reload:hover {
  opacity: 1;
}

.geo-sec,
.temp-sec,
#description,
.icon-sec {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.icon-sec {
  filter: drop-shadow(3px 3px 6px #00000070);
}
#loading img {
  filter: drop-shadow(4px 4px 6px #00000060);
  padding: 40px;
  padding-bottom: 0px;
  max-height: calc(15vw + 15vh);
}
.temp-sec #degree {
  cursor: pointer;
}

#loading #help {
  border-radius: 20px;
  margin: 10px;
  padding: 12px;
  text-decoration: none;
  color: #000000;
  background: #fffffffa;
}

/* Animations */
.auto-overflow {
  overflow: auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.animated-hide {
  animation: reveal 0.6s linear reverse;
}

.animated-show {
  animation: reveal 2s linear;
}

#loading {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
