body {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
  grid-template-areas:
    'geo-sec geo-sec'
    'temp-sec icon-sec'
    'description description';
}

.geo-sec {
  grid-area: geo-sec;
  flex-direction: column;
}
.icon-sec {
  grid-area: icon-sec;
}
.temp-sec {
  grid-area: temp-sec;
  font-size: calc(2px + 4vw);
}
#description {
  grid-area: description;
  font-size: calc(2px + 3.6vw);
}
.geo-sec * {
  font-size: calc(2px + 1.5vw);
}
.geo-sec .coord-sec {
  flex-direction: row;
}
.geo-sec .coord-sec #lat {
  padding-right: 20px;
}
.geo-sec .coord-sec * {
  font-size: calc(2px + 3vw);
}
